@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  background-image: url('../assets/spray-paint.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
